/* Coolors Exported Palette - coolors.co/36393b-1985a1-a7a2a9-f4f7f5-08090a */

/* HSL */
$color1: hsla(204%, 4%, 22%, 1);    // onyx
$color2: hsla(192%, 73%, 36%, 1);   // cg blue
$color3: hsla(283%, 4%, 65%, 1);    // quick silver
$color4: hsla(140%, 16%, 96%, 1);   // white smoke
$color5: hsla(210%, 11%, 4%, 1);    // smoky black

/* RGB */
$color1: rgba(54, 57, 59, 1);
$color2: rgba(25, 133, 161, 1);
$color3: rgba(167, 162, 169, 1);
$color4: rgba(244, 247, 245, 1);
$color5: rgba(8, 9, 10, 1);